.left-part {
    -fx-background-color: linear-gradient(to bottom, -fx-dark-color, -fx-primary-color);
}

.left-part .title-text {
    -fx-text-fill: -fx-secondary-color;
    -fx-font-size: 40;
    -fx-font-family: "Arial";
    -fx-alignment: center;
}

.left-part .nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-grey-color;
    -fx-cursor: hand;
    -fx-font-size: 20;
}

.left-part .nav-button:hover {
    -fx-border-color: transparent transparent -fx-dark-color transparent;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-text-fill: -fx-white-color;
    -fx-font-weight: bold;
}

.left-part .nav-button:pressed {
    -fx-text-fill: -fx-grey-color;
}

.left-part .label {
    -fx-background-color: -fx-primary-color;
    -fx-font-family: Ink Free;
    -fx-font-style: italic;
    -fx-text-fill: -fx-secondary-color;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.left-part .label:hover {
    -fx-text-fill: -fx-secondary-color;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
