/*black blue #1F2B51*/
/*blue       #187BBE*/
/*light blue #4DC2ED*/
/*orange     #F8B038*/

.root {
    -fx-font-family: "Arial";
}


.top-part {
    -fx-background-color: linear-gradient(to right, #1F2B51 25%, #187BBE 45%, #4DC2ED 65%, #FFFFFF 95%);
}

.top-part .button {
    -fx-background-color: transparent;
}

.top-part .btn-close:hover {
    -fx-background-color: #FF0000;
    -fx-cursor: hand;
}

.top-part .btn-minimize:hover {
    -fx-background-color: #1F2B5111;
    -fx-cursor: hand;
}


.left-part {
    -fx-background-color: linear-gradient(to bottom, #1F2B51, #187BBE);
}

.left-part .title-text {
    -fx-text-fill: #F8B038;
    -fx-font-size: 40;
    -fx-font-family: "Arial";
    -fx-alignment: center;
}

.left-part .nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #DDDDDD;
    -fx-cursor: hand;
}

.left-part .nav-button:hover {
    -fx-border-color: transparent transparent #1F2B51 transparent;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-text-fill: #FFFFFF;
}

.left-part .nav-button:pressed {
    -fx-text-fill: #DDDDDD;
}


.right-part {
    -fx-background-color: #FFFFFF;
}

.right-part .table-view {
    -fx-background-color: transparent;
}

.right-part .table-view .table-column {
    -fx-alignment: center;
}

.right-part .table-view .column-header-background {
    -fx-background-color: #187BBE;
}

.right-part .table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.right-part .table-view .corner {
    -fx-background-color: transparent;
}

.right-part .table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-font-size: 20;
}

.right-part .table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.right-part .table-view .table-cell {
    -fx-border-color: #FFFFFF;
    -fx-font-size: 16;
}

.right-part .table-view .table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent transparent #1F2B51 transparent;
}

.right-part .table-view .table-row-cell:hover {
    -fx-background-color: #4DC2ED11;
    -fx-text-background-color: #187BBE;
}

.right-part .table-view .table-row-cell:selected {
    -fx-background-color: #4DC2ED;
    -fx-text-background-color: #FFFFFF;
}

.right-part .table-view .virtual-flow .scroll-bar:vertical,
.right-part .table-view .virtual-flow .scroll-bar:vertical .track,
.right-part .table-view .virtual-flow .scroll-bar:vertical .track-background,
.right-part .table-view .virtual-flow .scroll-bar:horizontal,
.right-part .table-view .virtual-flow .scroll-bar:horizontal .track,
.right-part .table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #FFFFFF;
}

.right-part .table-view .virtual-flow .scroll-bar .increment-button,
.right-part .table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.right-part .table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #187BBE;
}
.right-part .table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #187BBE;
}

.right-part .list-view {
    -fx-background-color: #FFFFFF;
}

.right-part .list-view .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent transparent #1F2B51 transparent;
    -fx-font-size: 16;
}

.right-part .list-view .list-cell:hover {
    -fx-background-color: #4DC2ED11;
    -fx-text-background-color: #187BBE;
}

.right-part .list-view .list-cell:selected {
    -fx-background-color: #4DC2ED;
    -fx-text-background-color: #FFFFFF;
}

.right-part .list-view .virtual-flow .scroll-bar:vertical,
.right-part .list-view .virtual-flow .scroll-bar:vertical .track,
.right-part .list-view .virtual-flow .scroll-bar:vertical .track-background,
.right-part .list-view .virtual-flow .scroll-bar:horizontal,
.right-part .list-view .virtual-flow .scroll-bar:horizontal .track,
.right-part .list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #FFFFFF;
}

.right-part .list-view .virtual-flow .scroll-bar .increment-button,
.right-part .list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.right-part .list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #187BBE;
}
.right-part .list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #187BBE;
}


.bottom-part {
    -fx-background-color: linear-gradient(to right, #187BBE 25%, #FFFFFF 25.1%);
}

.bottom-part .label {
    -fx-text-fill: #F8B038;
    -fx-font-size: 24;
    -fx-alignment: center;
}
