/*black blue #1F2B51*/
/*blue       #187BBE*/
/*light blue #4DC2ED*/
/*orange     #F8B038*/

.root {
    -fx-font-family: "Arial";
    -fx-text-fill: #1F2B51;
}


.top-part {
    -fx-background-color: linear-gradient(to right, #1F2B51 23.5%, #187BBE 45%, #4DC2ED 65%, #FFFFFF 95%);
}

.top-part .btn-close, .btn-minimize {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

.top-part .btn-close:hover {
    -fx-background-color: #FF0000;
    -fx-cursor: hand;
}

.top-part .btn-minimize:hover {
    -fx-background-color: #1F2B5111;
    -fx-cursor: hand;
}

.left-part {
    -fx-background-color: linear-gradient(to bottom, #1F2B51, #187BBE);
}

.left-part .title-text {
    -fx-text-fill: #F8B038;
    -fx-font-size: 40;
    -fx-font-family: "Arial";
    -fx-alignment: center;
}

.left-part .nav-button {
    -fx-background-color: transparent;
    /*-fx-text-fill: #F8B038F0;*/
    -fx-text-fill: #DDDDDD;
    -fx-cursor: hand;
}

.left-part .nav-button:hover {
    -fx-border-color: transparent transparent #1F2B51 transparent;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.left-part .nav-button:pressed {
    -fx-text-fill: #DDDDDD;
    -fx-font-size: 24;
}

.left-part .nav-button:focused {
    -fx-font-size: 24;
}


.center-part {
    -fx-background-color: #FFFFFF;
}

.center-part .table-view {
    -fx-background-color: transparent;
}

.center-part .table-view .table-column {
    -fx-alignment: center;
}

.center-part .table-view .column-header-background {
    -fx-background-color: #187BBE;
}

.center-part .table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.center-part .table-view .corner {
    -fx-background-color: transparent;
}

.center-part .table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-font-size: 20;
}

.center-part .table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.center-part .table-view .table-cell {
    -fx-border-color: #FFFFFF;
    -fx-font-size: 16;
}

.center-part .table-view .table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent transparent #1F2B51 transparent;
    -fx-text-background-color: #1F2B51;
}

.center-part .table-view .table-row-cell:hover {
    -fx-background-color: #4DC2ED11;
    -fx-text-background-color: #187BBE;
}

.center-part .table-view .table-row-cell:selected {
    -fx-background-color: #4DC2ED;
    -fx-text-background-color: #FFFFFF;
}

.center-part .table-view .virtual-flow .scroll-bar:vertical,
.center-part .table-view .virtual-flow .scroll-bar:vertical .track,
.center-part .table-view .virtual-flow .scroll-bar:vertical .track-background,
.center-part .table-view .virtual-flow .scroll-bar:horizontal,
.center-part .table-view .virtual-flow .scroll-bar:horizontal .track,
.center-part .table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #FFFFFF;
}

.center-part .table-view .virtual-flow .scroll-bar .increment-button,
.center-part .table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.center-part .table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #187BBE;
}
.center-part .table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #187BBE;
}

.center-part .list-view {
    -fx-background-color: #FFFFFF;
}

.center-part .list-view .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent transparent #1F2B51 transparent;
    -fx-font-size: 16;
}

.center-part .list-view .list-cell:hover {
    -fx-background-color: #4DC2ED11;
    -fx-text-background-color: #187BBE;
}

.center-part .list-view .list-cell:selected {
    -fx-background-color: #4DC2ED;
    -fx-text-background-color: #FFFFFF;
}

.center-part .list-view .virtual-flow .scroll-bar:vertical,
.center-part .list-view .virtual-flow .scroll-bar:vertical .track,
.center-part .list-view .virtual-flow .scroll-bar:vertical .track-background,
.center-part .list-view .virtual-flow .scroll-bar:horizontal,
.center-part .list-view .virtual-flow .scroll-bar:horizontal .track,
.center-part .list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #FFFFFF;
}

.center-part .list-view .virtual-flow .scroll-bar .increment-button,
.center-part .list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.center-part .list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #187BBE;
}
.center-part .list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #187BBE;
}

.center-part .custom-pane {
    -fx-background-color: #4DC2ED;
}

.center-part .custom-pane .number {
    -fx-text-fill: #187BBE;
}

.center-part .grid-label {
    -fx-font-size: 18;
    -fx-pref-width: 175.0;
    -fx-pref-height: 75.0;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-border-color: #1F2B51;
    -fx-border-insets: 1 1 1 1;
}

.with-border {
    -fx-border-color: #1F2B51;
    -fx-border-width: 0 2 2 2;
}

.left-part .label {
    -fx-background-color: #187BBE;
    -fx-font-family: Ink Free;
    -fx-font-style: italic;
    -fx-text-fill: #F8B038F0;
    -fx-font-size: 24;
    -fx-alignment: center;
}

.left-part .label:hover {
    -fx-text-fill: #F8B038;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
