<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Report</title>
    <style>
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>الجمعة</th>
        <th>الخميس</th>
        <th>الأربعاء</th>
        <th>الثلاثاء</th>
        <th>الإثنين</th>
        <th>الأحد</th>
        <th>السبت</th>
        <th>التوقيت</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="lesson31"></td>
        <td th:text="lesson26"></td>
        <td th:text="lesson21"></td>
        <td th:text="lesson16"></td>
        <td th:text="lesson11"></td>
        <td th:text="lesson6"></td>
        <td th:text="lesson1"></td>
        <td th:text="8-00"></td>
    </tr>
    <tr>
        <td th:text="lesson32"></td>
        <td th:text="lesson27"></td>
        <td th:text="lesson22"></td>
        <td th:text="lesson17"></td>
        <td th:text="lesson12"></td>
        <td th:text="lesson7"></td>
        <td th:text="lesson2"></td>
        <td th:text="10-00"></td>
    </tr>
    <tr>
        <td th:text="lesson33"></td>
        <td th:text="lesson28"></td>
        <td th:text="lesson23"></td>
        <td th:text="lesson18"></td>
        <td th:text="lesson13"></td>
        <td th:text="lesson8"></td>
        <td th:text="lesson3"></td>
        <td th:text="12-00"></td>
    </tr>
    <tr>
        <td th:text="lesson34"></td>
        <td th:text="lesson29"></td>
        <td th:text="lesson24"></td>
        <td th:text="lesson19"></td>
        <td th:text="lesson14"></td>
        <td th:text="lesson9"></td>
        <td th:text="lesson4"></td>
        <td th:text="14-00"></td>
    </tr>
    <tr>
        <td th:text="lesson35"></td>
        <td th:text="lesson30"></td>
        <td th:text="lesson25"></td>
        <td th:text="lesson20"></td>
        <td th:text="lesson15"></td>
        <td th:text="lesson10"></td>
        <td th:text="lesson5"></td>
        <td th:text="16-00"></td>
    </tr>
    </tbody>
</table>
</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Lesson Report</title>-->
<!--    <style>-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>الجمعة</th>-->
<!--        <th>الخميس</th>-->
<!--        <th>الأربعاء</th>-->
<!--        <th>الثلاثاء</th>-->
<!--        <th>الإثنين</th>-->
<!--        <th>الأحد</th>-->
<!--        <th>السبت</th>-->
<!--        <th>التوقيت</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td th:text="${lesson7.getLessonName() + '\n' + lesson7.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson6.getLessonName() + '\n' + lesson6.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson5.getLessonName() + '\n' + lesson5.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson4.getLessonName() + '\n' + lesson4.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson3.getLessonName() + '\n' + lesson3.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson2.getLessonName() + '\n' + lesson2.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson1.getLessonName() + '\n' + lesson1.getTeacher().toString()}"></td>-->
<!--        <td th:text="8-00"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${lesson14.getLessonName() + '\n' + lesson14.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson13.getLessonName() + '\n' + lesson13.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson12.getLessonName() + '\n' + lesson12.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson11.getLessonName() + '\n' + lesson11.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson1.getLessonName() + '\n' + lesson10.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson9.getLessonName() + '\n' + lesson9.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson8.getLessonName() + '\n' + lesson8.getTeacher().toString()}"></td>-->
<!--        <td th:text="10-00"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${lesson21.getLessonName() + '\n' + lesson21.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson20.getLessonName() + '\n' + lesson20.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson19.getLessonName() + '\n' + lesson19.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson18.getLessonName() + '\n' + lesson18.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson17.getLessonName() + '\n' + lesson17.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson16.getLessonName() + '\n' + lesson16.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson15.getLessonName() + '\n' + lesson15.getTeacher().toString()}"></td>-->
<!--        <td th:text="12-00"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${lesson28.getLessonName() + '\n' + lesson28.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson27.getLessonName() + '\n' + lesson27.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson26.getLessonName() + '\n' + lesson26.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson25.getLessonName() + '\n' + lesson25.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson24.getLessonName() + '\n' + lesson24.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson23.getLessonName() + '\n' + lesson23.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson22.getLessonName() + '\n' + lesson22.getTeacher().toString()}"></td>-->
<!--        <td th:text="14-00"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${lesson35.getLessonName() + '\n' + lesson35.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson34.getLessonName() + '\n' + lesson34.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson33.getLessonName() + '\n' + lesson33.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson32.getLessonName() + '\n' + lesson32.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson31.getLessonName() + '\n' + lesson31.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson30.getLessonName() + '\n' + lesson30.getTeacher().toString()}"></td>-->
<!--        <td th:text="${lesson29.getLessonName() + '\n' + lesson29.getTeacher().toString()}"></td>-->
<!--        <td th:text="16-00"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
