<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Report</title>
    <style>
    </style>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>الجمعة</th>
        <th>الخميس</th>
        <th>الأربعاء</th>
        <th>الثلاثاء</th>
        <th>الإثنين</th>
        <th>الأحد</th>
        <th>السبت</th>
        <th>التوقيت</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${lesson31}"></td>
        <td th:text="${lesson26}"></td>
        <td th:text="${lesson21}"></td>
        <td th:text="${lesson16}"></td>
        <td th:text="${lesson11}"></td>
        <td th:text="${lesson6}"></td>
        <td th:text="${lesson1}"></td>
        <td th:text="'08:00-09:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson32}"></td>
        <td th:text="${lesson27}"></td>
        <td th:text="${lesson22}"></td>
        <td th:text="${lesson17}"></td>
        <td th:text="${lesson12}"></td>
        <td th:text="${lesson7}"></td>
        <td th:text="${lesson2}"></td>
        <td th:text="'08:30-10:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson33}"></td>
        <td th:text="${lesson28}"></td>
        <td th:text="${lesson23}"></td>
        <td th:text="${lesson18}"></td>
        <td th:text="${lesson13}"></td>
        <td th:text="${lesson8}"></td>
        <td th:text="${lesson3}"></td>
        <td th:text="'09:00-10:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson34}"></td>
        <td th:text="${lesson29}"></td>
        <td th:text="${lesson24}"></td>
        <td th:text="${lesson19}"></td>
        <td th:text="${lesson14}"></td>
        <td th:text="${lesson9}"></td>
        <td th:text="${lesson4}"></td>
        <td th:text="'09:30-11:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson5}"></td>
        <td th:text="'10:00-11:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson6}"></td>
        <td th:text="'10:30-12:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson7}"></td>
        <td th:text="'11:00-12:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson8}"></td>
        <td th:text="'11:30-13:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson9}"></td>
        <td th:text="'12:00-13:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="'12:30-14:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson11}"></td>
        <td th:text="'13:00-14:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson12}"></td>
        <td th:text="'13:30-15:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson13}"></td>
        <td th:text="'14:00-15:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson14}"></td>
        <td th:text="'14:30-16:00'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="'15:00-16:30'"></td>
    </tr>
    <tr>
        <td th:text="${lesson35}"></td>
        <td th:text="${lesson30}"></td>
        <td th:text="${lesson25}"></td>
        <td th:text="${lesson20}"></td>
        <td th:text="${lesson15}"></td>
        <td th:text="${lesson10}"></td>
        <td th:text="${lesson16}"></td>
        <td th:text="'15:30-17:00'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
